<mat-toolbar color="primary">
  <h1>Urcar</h1>
  <h2> Arrendadores</h2>
  <div class="mat-spacer"></div>
  <a mat-button [routerLink]="'/arrendadores/home-a'" >Inicio</a>
  <a mat-button [routerLink]="'/arrendadores/profile-a'" >Perfil</a>
  <a mat-button [routerLink]="'/arrendadores/reservations-a'" >Lista Reservas</a>
  <a mat-button [routerLink]="'/arrendadores/message-a'" >Mensajes</a>
  <a mat-button [routerLink]="'/arrendadores/cars'" >Vehiculos</a>
  <a mat-button [routerLink]="'/arrendadores/configuration-a'" >configuración</a>
</mat-toolbar>
<router-outlet></router-outlet>
